// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Stylesheets
@import 'style';

//Lauwy's Presets
.standard{
    max-width: 1920px;
    margin:auto;
    padding:25px 120px;
}
